In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('zillow_clean.csv')

In [8]:
df.head()

    price  bedrooms  bathrooms  floorsize         city  zipcode
0  843900         2        3.0       1351   LosAngeles    90025
1  303900         2        1.0        861     SanDiego    92173
2  824900         2        2.0       1324   LosAngeles    90025
3  637900         3        2.0       1242  SolanaBeach    92075
4  319900         1        1.0        609     SanDiego    92104